.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow: hidden;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 6px 0 #e7eafa, 15px 30px 68px rgb(156 160 185 / 56%);
}

.body {
  flex-grow: 1;
  padding: 32px;
}

.thumbnail {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;

  > {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.heading {
  margin-top: 12px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(9 30 66);
}

.content {
  margin-top: 12px;
  font-size: 14px;
  color: rgb(9 30 66 / 80%);
}

.foot {
  border-top: 1px solid #e7eafa;
}

.links {
  display: flex;
  align-items: center;
}

.link {
  width: 50%;
  padding: 12px;
  font-size: 12px;
  text-align: center;
  transition: all 0.2s;

  + & {
    border-left: 1px solid #e7eafa;
  }

  > span {
    position: relative;
    display: inline-block;

    &::after {
      position: absolute;
      top: -2px;
      left: -8px;
      display: block;
      width: 4px;
      height: 4px;
      content: "";
      background: #f5a623;
      border-radius: 50%;
    }
  }

  &:hover {
    color: #fff;
    background: #456bed;
  }
}
