.button {
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
  background: #fff;
  border: 1px solid #eaeaea;

  > span {
    position: absolute;
    left: 39px;
    display: block;
    height: 1px;
    background: #aaa;
    transition: all 200ms ease;

    &:nth-child(1) {
      top: 46px;
      width: 42px;
    }

    &:nth-child(2) {
      top: 59px;
      width: 30px;
    }

    &:nth-child(3) {
      top: 72px;
      width: 22px;
    }
  }

  &:hover > span {
    animation: button35MenuAnim 0.5s ease-in-out 0s infinite alternate;

    &:nth-child(1) {
      animation-delay: -0.5s;
    }

    &:nth-child(2) {
      animation-delay: -0.25s;
    }

    &:nth-child(3) {
      animation-delay: 0;
    }
  }
}

@keyframes button35MenuAnim {
  from {
    width: 22px;
  }

  to {
    width: 42px;
  }
}
