.card {
  display: block;
  background-color: #0e0d0d;
  border: 1px solid #ead2ab;
  color: #ead2ab;
  padding: 80px 20px 30px;
  width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  &:hover {
    color: #ead2ab;
  }
}

.heading {
  text-align: center;
  line-height: 1;
  font-size: 28px;
}

.thumbnailContainer {
  aspect-ratio: 16 / 9;
  width: 200px;
  margin-top: 40px;
  position: relative;
}

.thumbnail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation-duration: 0.2s;
  animation-timing-function: steps(2, start);
  animation-fill-mode: both;
  &:nth-child(1) {
    transform-origin: 0 0;
  }
  &:nth-child(2) {
    transform-origin: 100% 0;
    opacity: 0;
    transform: rotate(-2deg);
  }
  &:nth-child(3) {
    transform-origin: 100% 100%;
    opacity: 0;
  }
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.subHeading {
  line-height: 1.2;
  font-size: 10px;
  text-align: center;
  margin-top: 50px;
}

:where(.card:hover) {
  .heading {
    text-decoration: underline;
  }

  .thumbnail {
    &:nth-child(1) {
      animation-name: imgRotate01;
    }
    &:nth-child(2) {
      animation-name: imgRotate02;
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-name: imgRotate03;
      animation-delay: 0.4s;
    }
  }
}

@keyframes imgRotate01 {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(3deg);
  }
}

@keyframes imgRotate02 {
  0% {
    opacity: 0;
    transform: rotate(0);
  }
  1% {
    opacity: 1;
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(4deg);
  }
}

@keyframes imgRotate03 {
  0% {
    opacity: 0;
    transform: rotate(-2deg);
  }
  1% {
    opacity: 1;
    transform: rotate(-2deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-3deg);
  }
}
