.button {
  position: relative;
  display: inline-block;
  min-width: 240px;
  padding: 16px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background: #000;
  border-radius: 100vmax;

  &::before {
    position: absolute;
    inset: 0 0 0 -30px;
    content: "";
    background: url("https://picsum.photos/id/29/400/200");
    background-size: cover;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
  }

  &:hover {
    color: #fff;

    &::before {
      opacity: 0.5;
      transform: translateX(30px);
    }
  }
}

.inner {
  position: relative;
  z-index: 1;
}
