.button {
  position: relative;
  padding-bottom: 0.6em;
  font-size: 15px;
  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 0.2em;
    content: "";
    background: linear-gradient(90deg, #efb8b7, #3298c6, #efb8b7);
    background-position: left;
    background-size: 200% 100%;
    transition: background-position 0.5s cubic-bezier(0.32, 0, 0.21, 1);
  }
  &:hover {
    &::after {
      background-position: right;
    }
  }
}
