.button {
  position: relative;
  display: block;
  width: 260px;
  height: 72px;
  padding: 28px 48px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  letter-spacing: 0.5;
  background: linear-gradient(70deg, #2b59d3, #1e429f);
  box-shadow: 20px 40px 60px rgb(0 0 0 / 40%);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

  &::after {
    position: absolute;
    top: 0;
    right: -28px;
    bottom: 0;
    display: block;
    width: 46%;
    height: 1px;
    margin: auto;
    content: "";
    background: #ddd;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &:hover {
    color: #fff;
    box-shadow: -20px 40px 60px rgb(0 0 0 / 40%);
    opacity: 0.95;

    &::after {
      right: 0;
      width: 40%;
    }
  }
}
