.module {
  flex-grow: 1;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: "游ゴシック", YuGothic, sans-serif;
  color: #333;
  border-top: 2px solid #ccc;
  border-bottom: 1px solid #ccc;

  &::before {
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 100px;
    height: 2px;
    content: "";
    background: #c00;
  }
}

.link {
  position: relative;
  display: block;
  flex-shrink: 0;
  padding-left: 20px;
  font-size: 14px;
}

.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 14px;
  margin: auto;
  fill: #c00;
}
