.button {
  position: relative;
  display: block;
  width: 380px;
  padding: 35px;
  overflow: hidden;
  font-family: "Source Serif 4", serif;
  font-size: 24px;
  border-bottom: 1px solid #000;
  transition: color 0.4s ease-out;

  &::after {
    position: absolute;
    top: 0;
    right: -5%;
    left: -5%;
    display: block;
    height: 420%;
    content: "";
    background: #000;
    transform: skewY(-30deg) scaleY(0);
    transform-origin: left bottom;
    transition: transform 0.4s ease-out;
  }

  &:hover {
    color: #fff;

    &::after {
      transform: skewY(-30deg) scaleY(1);
      transform-origin: left top;
    }
  }
}

.text {
  position: relative;
  z-index: 1;
  display: block;

  & > span {
    display: inline-block;
  }
}

.arrow {
  position: absolute;
  top: 0;
  right: 25px;
  bottom: 0;
  z-index: 1;
  display: block;
  width: 34px;
  height: 11px;
  margin: auto 0;
  transition: transform 0.4s ease-out;

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: "";
    transition: all 0.4s ease-out;
  }

  &::before {
    top: 50%;
    right: 0;
    left: 0;
    height: 1px;
    background: #000;
    transform: translateY(-50%);
  }

  &::after {
    top: 0;
    right: 1px;
    bottom: 0;
    width: 9px;
    height: 9px;
    border: 1px solid transparent;
    border-top-color: #000;
    border-right-color: #000;
    transform: rotate(45deg);
  }
}

:where(.button:hover) {
  .text {
    transform: translateY(8px);
    transition: transform 0.5s ease-out;

    & > span {
      transform: translateY(-8px);
      transition: transform 0.5s ease;
      transition-delay: calc(var(--char-num) * 0.05s);
    }
  }

  .arrow {
    transform: translateX(8px);

    &::before {
      background: #fff;
    }

    &::after {
      border-top-color: #fff;
      border-right-color: #fff;
    }
  }
}
