.module {
  /* ラインが重なる部分の表示用 */
  padding-top: 200px;
  overflow: hidden;
}

.inner {
  position: relative;
  background: #c2ccd4;
}

.link {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  padding: 0 20px 12px;
  color: #000;
}

.textEn {
  flex-shrink: 0;
  width: 40%;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.textJa {
  flex-grow: 1;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}

.textLink {
  flex-shrink: 0;
  width: 30%;
  font-size: 10px;
  line-height: 1;
  text-align: right;
  text-decoration: underline;
}

.line {
  position: absolute;
  top: -50px;
  right: 0;
  z-index: 1;
  width: calc(100% / cos(5deg) + 100px * sin(5deg));
  height: 100px;
  pointer-events: none;
  background: #adb8c1;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transform: rotate(-5deg);
  transform-origin: right top;
  transition: clip-path 0.4s;
}

.lineItems {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.lineItem {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100%;
  padding: 10px;
  animation: other13RepeatLine 2.5s linear infinite;
  will-change: transform;
}

.lineText {
  font-size: 72px;
  font-weight: bold;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 2px #c2ccd4;
}

.lineThumbnail {
  height: 100%;
  aspect-ratio: 16 / 9;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

:where(.link:hover) {
  + .line {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes other13RepeatLine {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}
