.button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  background: #074e40;
  border: 1px solid #074e40;
  transition: all 0.2s;
  &::before,
  &::after {
    position: absolute;
    display: block;
    width: 30px;
    height: 1px;
    content: "";
    background: #000;
    transition: all 0.2s;
  }
  &::before {
    top: 45%;
    right: -9px;
    background: linear-gradient(to right, #fff 70%, #074e40 70% 100%);
  }
  &::after {
    top: 50%;
    right: -21px;
    background: linear-gradient(to right, #fff 30%, #074e40 30% 100%);
  }
  &:hover {
    color: #074e40;
    letter-spacing: 5px;
    background: #fff;
    &::before,
    &::after {
      right: -15px;
      background: #074e40;
    }
  }
}
