.module {
  position: relative;
  width: 220px;
  height: 220px;
  cursor: pointer;
  padding: 20px;
  margin-top: 60px;
}

.bg {
  position: absolute;
  inset: 0;
  background: #61d45d;
  border-radius: 50%;
  opacity: 0.2;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.line {
  fill: none;
}

.lineBase {
  stroke: #303560;
  stroke-width: 14px;
}

.lineValue {
  stroke: #61d45d;
  stroke-width: 14px;
  stroke-linecap: round;
  stroke-dashoffset: 600px;
  stroke-dasharray: 600px;
  transition: stroke-dashoffset 1s;
}

.num {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #303560;
  font-weight: bold;
  line-height: 1;
  gap: 4px;
}

.numUnit {
  font-size: 24px;
}

.popContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(100% - 4px);
  z-index: 2;
  display: flex;
  justify-content: center;
}

.pop {
  position: relative;
  background: #303560;
  color: #fff;
  padding: 8px 20px;
  border-radius: 9999px;
  transition: all 0.3s;
  transform: translateY(100px) rotate(90deg) scale(0);
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 1px);
    content: "";
    display: block;
    width: 16px;
    height: 12px;
    background: #303560;
    margin: auto;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}

.cover {
  position: absolute;
  inset: 0;
  background: #61d45d;
  border-radius: 50%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

.coverName {
  background: #fff;
  line-height: 1;
  padding: 8px 20px;
  border-radius: 9999px;
  color: #303560;
  font-weight: bold;
}

:where(.module:hover) {
  .lineValue {
    stroke-dashoffset: 0px;
  }
  .pop {
    transform: translateY(0) rotate(0) scale(1);
  }
  .cover {
    opacity: 0;
  }
}
