.module {
  margin-bottom: 40px;
  font-family: "游ゴシック", YuGothic, sans-serif;
  font-size: 42px;
  font-weight: normal;
  line-height: 1;
  color: #bbbbbb;

  > em {
    color: #00529c;
    font-style: normal;
  }

  .num {
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 15px;
    margin-right: 20px;
    font-family: "Oswald", sans-serif;
    font-size: 75px;
    font-style: italic;
    font-weight: 200;
    line-height: 1;
    color: #333333;
    letter-spacing: 0.01em;
    border-bottom: 4px solid #333333;
  }
}
