.button {
  position: relative;
  display: inline-block;
  padding: 16px 24px;
  color: #87c870;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    top: 0;
    right: 16px;
    bottom: 16px;
    left: 0;
    border-top: 1px solid #87c870;
    border-left: 1px solid #87c870;
    border-top-left-radius: 8px;
  }

  &::after {
    top: 16px;
    right: 0;
    bottom: 0;
    left: 16px;
    border-right: 1px solid #87c870;
    border-bottom: 1px solid #87c870;
    border-bottom-right-radius: 8px;
  }

  > span {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 32px;
    font-size: 16px;
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 8px;
      height: 8px;
      margin: auto;
      content: "";
      border-top: 1px solid #87c870;
      border-right: 1px solid #87c870;
      transform: rotate(45deg);
    }
  }

  &:hover {
    color: #87c870;
  }
}
