.card {
  position: relative;
  display: block;
  width: 320px;
  height: 320px;
  padding: 20px 0 0 20px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  overflow: hidden;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
  }
}

.borderContainer {
  position: absolute;
  inset: 0 20px 20px 0;
  opacity: 1;
  transition: all 0.5s;
}

.border {
  position: absolute;
  inset: 0;

  &::before,
  &::after {
    position: absolute;
    content: "";
    background: #58c1db;
  }

  &::before {
    width: 0;
    height: 4px;
    transition: height 0.5s;
    animation: lineAnimX 0.2s linear forwards;
  }

  &::after {
    width: 4px;
    height: 0;
    transition: width 0.5s;
    animation: lineAnimY 0.2s linear forwards;
  }

  &[data-border-pos="top-right"] {
    &::before {
      top: 0;
      left: 0;
      animation-delay: calc(0.2s * 0);
    }

    &::after {
      top: 0;
      right: 0;
      animation-delay: calc(0.2s * 1);
    }
  }

  &[data-border-pos="bottom-left"] {
    &::before {
      right: 0;
      bottom: 0;
      animation-delay: calc(0.2s * 2);
    }

    &::after {
      bottom: 0;
      left: 0;
      animation-delay: calc(0.2s * 3);
    }
  }
}

.text {
  position: absolute;
  inset: 20px 0 0 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}

:where(.card:hover) {
  .thumbnail > img {
    transform: scale(1.2);
  }

  .borderContainer {
    opacity: 0.5;
    transform: translate(20px, 20px);
  }

  .border {
    &::before {
      height: 50%;
    }

    &::after {
      width: 50%;
    }
  }

  .text {
    opacity: 1;
  }
}

@keyframes lineAnimX {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes lineAnimY {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}
