.module {
  position: relative;
  font-family: "EB Garamond", serif;
  font-size: 30px;
  line-height: 1.2em;
  color: #363f4d;

  &::before {
    position: absolute;
    top: 1em;
    right: calc(100% + 16px);
    display: block;
    width: 100vw;
    height: 1px;
    content: "";
    background: #707070;
  }

  > span {
    display: block;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
    font-size: 0.45em;
    color: #777;
  }
}
