.button {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 0;
  font-size: 14px;
  color: rgb(43 47 56);
  border-top: 2px solid rgb(43 47 56 / 5%);
  border-bottom: 2px solid rgb(43 47 56 / 5%);
  transition: color 0.5s cubic-bezier(0.18, 0.06, 0.23, 1);

  &:hover {
    color: #e7153f;
  }
}

.icon {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: auto;
  background: #f6f6f6;
  border-radius: 50%;

  &::before {
    position: absolute;
    inset: 0;
    content: "";
    background: #e7153f;
    border-radius: 50%;
    transform: scale(0.1);
    transition: transform 0.5s cubic-bezier(0.18, 0.06, 0.23, 1);
  }
}

.arrow {
  z-index: 1;
  color: #fff;
  transform: scale(0);
  transition: transform 0.5s cubic-bezier(0.18, 0.06, 0.23, 1);
}

:where(.button:hover) {
  .icon::before {
    transform: scale(1);
  }

  .arrow {
    transform: scale(1);
    transition-delay: 0.2s;
  }
}
