.card {
  position: relative;
  display: block;
  max-width: 360px;
  padding: 36px 0 64px 40px;
  font-family: YakuHanJP, "Noto Sans JP", sans-serif;
  transition: background-color 0.35s;

  &::before,
  &::after {
    position: absolute;
    display: block;
    content: "";
    background: #cbcbcb;
  }

  &::before {
    right: 80px;
    bottom: 0;
    left: 40px;
    height: 1px;
  }

  &::after {
    top: 0;
    right: -1px;
    bottom: 24px;
    width: 1px;
  }

  &:hover {
    background: #f1f1f1;
  }
}

.heading {
  font-family: YakuHanJP, "Noto Serif JP", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.thumbnail {
  margin-top: 24px;
  aspect-ratio: 2 / 1;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  padding-right: 16px;
  margin-top: 24px;
  font-size: 13px;
  font-weight: 700;
  color: #6c6c6c;
}

.date {
  position: absolute;
  right: 0;
  bottom: -4px;
  font-size: 12px;
  font-weight: 700;
}
