.button {
  position: relative;
  display: block;
  width: 260px;
  height: 60px;
  padding: 0 60px 0 20px;
  font-size: 14px;
  line-height: 60px;
  color: #333;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  transition: color 0.2s;

  &::before {
    position: absolute;
    top: -1px;
    right: 0;
    bottom: -1px;
    z-index: 1;
    display: block;
    width: 60px;
    content: "";
    border-top: 1px solid #44c0ed;
    border-bottom: 1px solid #44c0ed;
    transition: width 0.2s;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 24px;
    bottom: 0;
    z-index: 1;
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
    content: "";
    border-top: 1px solid #44c0ed;
    border-right: 1px solid #44c0ed;
    transition: right 0.2s;
    transform: rotate(45deg);
  }

  > span {
    position: relative;
    z-index: 2;
  }

  &:hover {
    color: #44c0ed;
    &::before {
      width: 100%;
    }
    &::after {
      right: 14px;
    }
  }
}
