.button {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #1458e4;
  transition: all 0.64s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: fit-content;
  &:hover {
    color: #bbb;
  }
}

.text {
  padding-right: 20px;
}

.icon {
  width: 100%;
  max-width: 76px;
}

.arrow {
  fill: #1458e4;
  transition: all 0.64s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.circle {
  fill: none;
  stroke: #1458e4;
  stroke-miterlimit: 10;
  transition: all 0.64s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform-origin: center center;
}

:where(.button:hover) {
  .arrow {
    fill: #bbb;
  }

  .circle {
    stroke: #bbb;
    transform: rotate(270deg);
  }
}
