.module {
  width: 120px;
  height: 120px;
  cursor: pointer;
  background: url("/other08/anim.svg");
  background-size: 360px 120px;

  &:hover {
    animation: other08Anim 3s infinite;
  }
}

@keyframes other08Anim {
  0% {
    background-position: 0 0;
  }

  15% {
    background-position: 0 0;
  }

  15.1% {
    background-position: -120px 0;
  }

  45% {
    background-position: -120px 0;
  }

  45.1% {
    background-position: -240px 0;
  }

  75% {
    background-position: -240px 0;
  }

  75.1% {
    background-position: 0 0;
  }
}
