.button {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 60px 80px;
  background: #fff;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    content: "";
    background: #e3e3e3;
    border-radius: 50%;
    mix-blend-mode: exclusion;
    transform: scale(0.4);
    transition: transform 0.6s cubic-bezier(0.85, 0, 0.15, 1);
  }

  > span {
    padding-bottom: 1px;
    font-size: 14px;
    line-height: 1;
    color: #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
  }

  &:hover {
    &::after {
      transform: scale(1);
    }
  }
}
