.module {
  position: relative;
  display: block;
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
  text-align: center;
  background: #1236e6;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: #082ad0;
    transition: transform 0.8s cubic-bezier(0.65, 0.05, 0.35, 1);
    transform: scaleX(0);
    transform-origin: right;
  }
  &:hover {
    color: #fff;
    &::before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.inner {
  position: relative;
  width: 87.5%;
  padding: 135px 0;
  margin: 0 auto;
}

.heading {
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
  font-family: "Barlow", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
}

.text {
  position: relative;
  z-index: 1;
  font-size: 17px;
  line-height: 1;
  letter-spacing: 0.1em;
}

.arrow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: block;
  width: 40px;
  height: 40px;
  margin: auto;
  border: 2px solid #fff;
  border-radius: 50%;
  &::before {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: -50%;
    display: block;
    height: 2px;
    margin: auto;
    content: "";
    background: #fff;
    transition: transform 0.4s cubic-bezier(0.65, 0.05, 0.35, 1);
    transform: translateX(-10px);
  }
}

:where(.module:hover) {
  .arrow::before {
    transform: translateX(0);
  }
}
