.module {
  display: flex;
  flex-direction: column;
  color: #000;
}

.text {
  position: relative;
  display: inline-block;
  height: 86px;
  margin-right: auto;
  overflow: hidden;
  font-size: 80px;
  font-weight: bold;

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    content: "";
    background: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
  }

  + & {
    margin-top: 16px;
  }

  > span {
    position: relative;
    display: inline-block;
    transform: translateY(100%);
    transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1);
  }
}

:where(.module.animated) {
  .text {
    &::before {
      transform: scaleX(1);
    }

    > span {
      transform: scaleX(1);
    }
  }
}
