.module {
  width: 100%;
  max-width: calc(180px * 8 + 20px);
  height: 500px;
  overflow: auto;

  table {
    width: calc(180px * 8);
  }

  tr:nth-of-type(1) {
    th {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1;
      color: #fff;
      background: #000;

      &:first-child {
        z-index: 2;
      }

      &:nth-child(7) {
        background: #006;
      }

      &:nth-child(8) {
        background: #600;
      }
    }
  }

  th,
  td {
    position: relative;
    width: 180px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
  }

  tr:not(:first-child) {
    th:nth-of-type(1) {
      position: sticky;
      top: 0;
      left: 0;
      color: #fff;
      background: #333;
    }
  }
}
