.card {
  position: relative;
  display: block;
  padding: 20px 0 48px;
  font-family: "Sawarabi Gothic", sans-serif;
  border-top: 1px solid #d7dbe3;

  &:first-child {
    border-top: none;
  }
}

.head {
  display: flex;
  justify-content: space-between;
}

.thumbnail {
  width: calc(50% - 10px);
  overflow: hidden;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  }
}

.heading {
  width: calc(50% - 10px);
  font-weight: bold;
  line-height: 1.625;
  color: #0a3da0;
  letter-spacing: 0.4px;
}

.content {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.78;
}

.arrow {
  position: absolute;
  right: 0;
  bottom: 20px;
  display: block;

  > span {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 3px;
    height: 3px;
    background: #0a3da0;
    border-radius: 2px;
    transition: all 0.15s cubic-bezier(0.47, 0, 0.745, 0.715);

    &:nth-child(1) {
      right: 0;
      bottom: 0;
    }

    &:nth-child(2) {
      right: 6px;
      bottom: 0;
    }

    &:nth-child(3) {
      right: 12px;
      bottom: 0;
    }

    &:nth-child(4) {
      right: 0;
      bottom: 6px;
    }

    &:nth-child(5) {
      right: 6px;
      bottom: 6px;
    }

    &:nth-child(6) {
      right: 0;
      bottom: 12px;
    }
  }
}

@container (width > 768px) {
  .card {
    max-width: 360px;
    padding-top: 0;
    border-top: none;
  }

  .head {
    display: block;
  }

  .thumbnail {
    width: 100%;
  }

  .heading {
    width: 100%;
    padding: 0 20px;
    margin-top: 15px;
  }

  .content {
    padding: 0 20px;
    margin-top: 5px;
  }

  .arrow {
    right: 10px;
    bottom: 10px;
  }
}

:where(.card:hover) {
  .thumbnail > img {
    transform: scale(1.2);
  }

  .arrow > span {
    &:nth-child(1) {
      right: 0;
      bottom: 0;
    }

    &:nth-child(2) {
      right: 0;
      bottom: 0;
    }

    &:nth-child(3) {
      right: 6px;
      bottom: 0;
    }

    &:nth-child(4) {
      right: 0;
      bottom: 0;
    }

    &:nth-child(5) {
      right: 0;
      bottom: 0;
    }

    &:nth-child(6) {
      right: 0;
      bottom: 6px;
    }
  }
}
