.card {
  position: relative;
  width: 300px;
  max-height: 450px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  filter: drop-shadow(0 22px 62px rgb(9 30 66 / 24%));

  &::after {
    position: absolute;
    inset: 0;
    content: "";
    box-shadow: inset 0 -5px 4px rgb(9 30 66 / 20%);
  }
}

.thumbnail {
  transition: transform 0.3s ease-in;

  > img {
    width: 100%;
    height: auto;
    transition: transform 1.5s ease-in;
  }
}

:where(.card:hover) {
  .thumbnail > img {
    transform: translateY(-100px);
  }
}
