.module {
  font-weight: bold;
  font-size: 24px;
  > span {
    will-change: color;
    animation: colorChange 0.3s 2;
    animation-delay: calc(var(--char-index) * 0.04s);
  }
}

@keyframes colorChange {
  0% {
    color: #001136;
  }
  25% {
    color: #005bb3;
  }
  50% {
    color: #d10c22;
  }
  75% {
    color: #f21e36;
  }
  100% {
    color: #003466;
  }
}
