.button {
  position: relative;
  display: inline-block;
  padding-right: 75px;
  font-size: 20px;
  line-height: 60px;
  color: #121314;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: auto;
  content: "";
  border: 1px solid #eae6e4;
  border-radius: 50%;

  &::before {
    position: absolute;
    inset: 0;
    content: "";
    background: #121314;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s cubic-bezier(0.55, 0.05, 0.22, 0.99);
  }
}

.arrow {
  color: #121314;
  animation: button33ArrowOut 0.2s forwards;
}

:where(.button:hover) {
  .icon {
    border-color: #121314;

    &::before {
      transform: scale(0.9);
    }
  }

  .arrow {
    animation: button33ArrowIn 0.2s forwards;
  }
}

@keyframes button33ArrowIn {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  50% {
    opacity: 0;
    transform: translate(0);
  }

  51% {
    color: #fff;
    opacity: 0;
    transform: translate(-30px);
  }

  100% {
    color: #fff;
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes button33ArrowOut {
  0% {
    color: #fff;
    opacity: 1;
    transform: translate(0);
  }

  50% {
    color: #fff;
    opacity: 0;
    transform: translate(0);
  }

  51% {
    opacity: 0;
    transform: translate(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
