.module {
  position: relative;
  padding-right: 2px;

  &::after {
    position: absolute;
    right: 0;
    bottom: 16px;
    display: block;
    width: 8px;
    height: 8px;
    content: "";
    background: #000;
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
    transform: translateY(50%);
  }
}

.heading {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.ja {
  position: relative;
  padding: 20px 20px 20px 0;
  font-size: 40px;
}

.jaLine {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  &::before,
  &::after {
    position: absolute;
    display: block;
    height: 1px;
    content: "";
    background: #000;
  }

  &::before {
    bottom: 0;
    left: 0;
    width: calc(100% - 8px);
  }

  &::after {
    bottom: 16px;
    left: calc(100% + (8px - 1px));
    width: 100vw;
  }

  > span {
    position: absolute;
    right: 8px;
    bottom: 0;
    display: block;
    width: 1px;
    height: 16px;
    background: #000;
    transform: skewX(-45deg);
    transform-origin: bottom right;
  }
}
