.module {
  display: inline-block;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: transparent;
  background: linear-gradient(
    to right,
    #969696 0,
    #969696 45%,
    #000 46%,
    #000 100%
  );
  background-position: 100% 0;
  background-clip: text;
  background-clip: text;
  background-size: 320% 100%;
  transition: background-position 1.8s cubic-bezier(0.23, 1, 0.32, 1);

  &:hover {
    color: transparent;
    background-position: 0 0;
  }
}

.subText {
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
}

.text {
  display: block;
  font-size: 32px;
}
