@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Lora&family=M+PLUS+Rounded+1c:wght@500&family=Work+Sans:wght@600&family=Metrophobic&family=Kosugi+Maru&family=Barlow:wght@400;600;700&family=Comfortaa:wght@700&family=Roboto:wght@400;900&family=Crimson+Text&family=Sawarabi+Gothic&family=M+PLUS+1p:wght@700&family=Oswald:wght@200;400;600;700&family=Playfair+Display:wght@700&family=Open+Sans:wght@700&family=Lato:ital,wght@0,400;0,900;1,400&family=Montserrat&family=Josefin+Sans:wght@600&family=Noto+Sans+JP:wght@400;500;900&family=EB+Garamond&family=Source+Serif+4:opsz@8..60&display=swap");
@import url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanjp.min.css");

/*
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  その他自分で追加
*/
a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

i {
  font-style: normal;
}
