.module {
  position: fixed;
  right: 12px;
  bottom: 12px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  color: #fff;
  background: #0089d8;
}

.text {
  width: 300px;
  padding: 64px 48px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 52px;
  height: 52px;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    inset: 0;
    width: 20px;
    height: 2px;
    margin: auto;
    content: "";
    background: #fff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  > svg {
    opacity: 0;
    fill: none;
    stroke: #fff;
    stroke-width: 4px;
    stroke-dasharray: 880;
    stroke-dashoffset: -440;
    transition: all 0.6s ease-in-out;
  }

  &:hover > svg {
    opacity: 1;
    stroke-dashoffset: 0;
    transform: rotate(360deg);
  }
}
