.module {
  position: relative;
  min-height: 100vh;
  padding-top: 100vh;
}

.kv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
}

.kvTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1;
  font-weight: bold;
  max-width: min(500px, 100%);
}

.kvSubTitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  > span {
    --progress: 0;
    transition: transform 0.1s;
    transform: translateX(calc((-550px) * var(--progress)))
      skewX(calc(45deg * var(--progress)));
    &:nth-child(1) {
      --progress: max(0, min(1, calc((var(--anim-progress)) / 0.7)));
    }
    &:nth-child(2) {
      --progress: max(0, min(1, calc((var(--anim-progress) - 0.1) / 0.7)));
    }
  }
}

.kvMainTitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 32px;
  > span {
    --progress: 0;
    transition: transform 0.1s;
    transform: translateX(calc((-550px) * var(--progress)))
      skewX(calc(45deg * var(--progress)));
    &:nth-child(1) {
      --progress: max(0, min(1, calc((var(--anim-progress) - 0.2) / 0.7)));
    }
    &:nth-child(2) {
      --progress: max(0, min(1, calc((var(--anim-progress) - 0.3) / 0.7)));
    }
  }
}

.kvBg {
  position: absolute;
  inset: 0;
  transform: scale(calc(1 + 0.5 * var(--anim-progress)));
  transform-origin: top right;
  opacity: calc(1 - var(--anim-progress));
  transition: opacity 0.2s, transform 0.2s;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  position: relative;
  z-index: 1;
  padding: 24px;
  padding-top: 320px;
}
