.module {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1280 / 853;
  background: #000;
}

.back,
.center,
.front {
  position: absolute;
  inset: -50px;
  transition: transform 0.2s;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.back {
  > img {
    transform: translateY(10px);
  }
}

.front {
  > img {
    transform: translateY(-10px);
  }
}
